*{
    background-color:rgb(8, 5, 33);
}
header{
    background-color: red;
}

#title{
    color: red;
    font-size: 50px; 
    font-family: sans-serif;
    border: 5px solid red;
    padding: 250px, 0px, 250px, 0px;
    margin: 30px;
}

p{
    color: white;
    font-size: 17px;
    font-family:Century Gothic;
}
nav{
    text-align:center;
    word-spacing:60px;
}
a:hover{
    color:white;
    background-color:maroon ;
}
h2{
    color: red;
}
#astonmartin{
    float: left;
    height: 150px;
}
#ferrari{
    float: right;
    height: 150px;
}
#alpine{
    float:left;
    height:150px;
}
#haas{
    float: right;
    height: 150px;
}
#sauber{
    float:left;
    height: 150px;
}
#redbull{
    float: right;
    height: 150px;
}
#mercedes{
    float:left;
    height:150px;
    width:260px
}
#mclaren{
    float:right;
    height:150px
}
#williams{
    float:left;
    height:150px;
}
#rb{
    float:right;
    height:150px
}